In [1]:
import pandas as pd

df = pd.read_csv('submission (22).csv')
df

      image_id                                            caption
0         1015  system\nYou are a helpful assistant.\nuser\nคิ...
1         1043  system\nYou are a helpful assistant.\nuser\nคิ...
2          572  system\nYou are a helpful assistant.\nuser\nคิ...
3          305  system\nYou are a helpful assistant.\nuser\nคิ...
4         1986  system\nYou are a helpful assistant.\nuser\nคิ...
...        ...                                                ...
1995      1495  system\nYou are a helpful assistant.\nuser\nคิ...
1996       197  system\nYou are a helpful assistant.\nuser\nคิ...
1997      1825  system\nYou are a helpful assistant.\nuser\nคิ...
1998      1689  system\nYou are a helpful assistant.\nuser\nคิ...
1999      1544  system\nYou are a helpful assistant.\nuser\nคิ...

[2000 rows x 2 columns]

In [2]:
df.iloc[0].caption

'system\nYou are a helpful assistant.\nuser\nคิดแคปชั่นรูปนี้ให้หน่อย\nassistant\n"สัตว์ทะเลสีสันสดใสบนพื้นผิวหินใต้น้ำ"'

In [5]:
text = df.iloc[0].caption
cleaned_text = text.split("assistant\n")[1].strip('"')
print(cleaned_text)  # Output: สัตว์ทะเลสีสันสดใสบนพื้นผิวหินใต้น้ำ

สัตว์ทะเลสีสันสดใสบนพื้นผิวหินใต้น้ำ

In [6]:
def clean_caption(text):
    # Split by assistant\n and get second part, then remove quotes
    return text.split("assistant\n")[1].strip('"')

# Apply function to caption column
df['caption'] = df['caption'].apply(clean_caption)

# Save to new CSV
df.to_csv('cleaned_captions.csv', index=False)

In [7]:
df

      image_id                                            caption
0         1015               สัตว์ทะเลสีสันสดใสบนพื้นผิวหินใต้น้ำ
1         1043  ชิมชิม! แก้วกาแฟเย็นนี้กำลังรอคุณอยู่ในมื้อเช้...
2          572  ดอกไม้สีเหลืองสดใส่ใจประดับอย่างสวยงามบนพื้นทร...
3          305  วิวที่น่ารัก ๆ ของเมืองที่มีแม่น้ำไหลผ่านและมี...
4         1986     นกกระสาที่นอนบนพื้นดินที่เต็มไปด้วยหญ้าสีเขียว
...        ...                                                ...
1995      1495  Snake encounter in the forest: A green snake a...
1996       197                           ดอกไม้ที่งดงามในธรรมชาติ
1997      1825  วัดที่มีสถาปัตยกรรมที่งดงามและประดิษฐ์ด้วยสีสั...
1998      1689  อร่อยดั่งใจ! ผัดหมูผักสดๆ สดชื่น รสชาติอร่อยที...
1999      1544  ภายในวัดที่ประดับด้วยสิ่งศักดิ์สิทธิ์และดอกไม้...

[2000 rows x 2 columns]